# Database Credentials
DB_CONNECTION=pgsql
DB_USERNAME=postgres
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=item_catalogue

# Google OAuth credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Facebook OAuth credentials
FB_APP_ID=
FB_APP_SECRET=
FB_VERSION=v2.10

APP_HOST="0.0.0.0"
APP_PORT=8000
APP_SECRET_KEY=super_secret_key
