{% extends "main.html" %}
{% block content %}
<main class="page-content-wrapper">
    <div class="container">
        <div class="row">
            <section class="col-md-6">
                <header>
                    <h3>{{category.name}} Items ({{numberOfItems}} Items)</h3>
                </header>
                <main>
                    <ul class="list-group">
                        {% for m in category.menu_items %}
                        <li class="list-group-item">
                            <a href="{{url_for('showMenuItem', categorySlug=category.slug, menuSlug=m.slug)}}" class="plain-anchor">{{m.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </main>
            </section>
            <section class="col-md-6"></section>
        </div>
    </div>
</main>
{% endblock %}
