<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Catalogue App</title>
    <meta name="description" content="Item Catalog Application">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Modernizr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"> </script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="" >
    <!-- jQuery -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
</head>
<body class="no-js">
    {% include "navbar.html" %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <section class="container">
        <section class="row">
            <section class="col-sm-12">
                <div class="alert alert-info">
                    <ul class="list-group">
                        {% for message in messages %}
                        <li class="list-group-item">
                            <strong>{{ message }}</strong>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </section>
    </section>
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
    <footer class="container text-center">
        <span class="text-muted">Copyright &copy; 2017 by Rishi Ramawat. All Rights Reserved. Yes All of Them...</span>
    </footer>
    <!-- Bootstrap JS -->
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
    </script>
</body>
</html>
