<nav class="navbar navbar-inverse" style="margin-bottom: 0px; border-radius: 0px;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Catalogue App</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
            {% if 'username' not in session %}
                <form action="{{url_for('login')}}">
                    <button
                        class="btn btn-danger navbar-btn"
                        type="submit">
                            <span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login
                    </button>
                </form>
            {% else %}
                <form method="POST" action="{{url_for('logout')}}">
                    <button
                        class="btn btn-danger navbar-btn"
                        type="submit">Logout&nbsp;&nbsp;<span class="glyphicon glyphicon-log-out"></span>
                    </button>
                </form>
            {% endif %}
            </li>
        </ul>
    </div>
</nav>
